:root {
  --bg1:  rgb(35, 37, 40);
  --card:  rgb(43, 49, 59);
  --shadow:  rgb(25, 27, 29);
  --input:  rgb(228, 239, 249);
  --inputOutline:  #60717f;
  --enter:  rgb(163, 255, 122);
  --enterTxt:  #57a01a;
  --toggleBlue:  #2196F3;
  --offwhite: #FAF9F6;
  --correctbg: #00ff87;
  --correcttxt: #009100;
  --wrongbg: #ff7070;
  --wrongtxt: #910000;
}

/* ------------FONTS------------ */

.noto-serif-sc {
  font-family: "Noto Serif SC", serif;
}

.noto-sans-sc {
  font-family: "Noto Sans SC", sans-serif;
}

.zcool-xiaowei {
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.long-cang {
  font-family: "Long Cang", cursive;
}

.kosugi-maru {
  font-family: "Kosugi Maru", sans-serif;
}

.shippori-antique {
  font-family: "Shippori Antique", sans-serif;
}

/* ---------END OF FONTS-------- */

body {
  background-color: var(--bg1);
  color: var(--offwhite);
  padding: 2rem 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.panel {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility:hidden;
  -webkit-backface-visibility: hidden;
}

.input {
  background-color: var(--bg1);
  color: inherit;
  padding: 1rem;
  font-size: 3rem;
}

.input::placeholder {
  font-weight: lighter;
}

.btn {
  background-color: var(--card);
  border: none;
  border-radius: 2rem;
  box-shadow: .25rem .25rem var(--shadow);
  color: inherit;
  font-family: inherit;
  font-size: 2.3rem;
  font-weight:600;
  margin: 0.5rem;
  padding: 2rem;
  width: 18rem;
}

.btn:active {
  box-shadow: inset .25rem .25rem var(--shadow);
}

.cardSpacer {
  height: 40rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 4rem;

  height: 19rem;
  width: 54rem;

  background-color: var(--card);
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem var(--shadow);
  padding: 8rem 0rem;
  margin-bottom: 5rem;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.correct {
  background-color: var(--correctbg);
  color: var(--correcttxt);
}

.wrong {
  background-color: var(--wrongbg);
  color: var(--wrongtxt);
}

:is(.correct, .wrong) .maintext{
  font-size: 8rem;
  font-weight: bold;
}

.flip {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.flip.card {
  opacity: 0;
  transition:
    transform 0.2s,
    opacity 0.1s ease 0.2s

}

.flip.panel {
  opacity: 0;
  transition: 
    transform 0.5s,
    opacity 0.1s ease 0.5s
}

.card:not(.flip) {
  transition: transform 0.2s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.panel:not(.flip) {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.counter {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-weight: lighter;
  font-size: 2.5rem;
}

.maintext {
  font-size: 9rem;
  margin: 0 0 1rem;
}

.prompt .maintext {
  margin: 0 0 -1rem;
}

.subtext {
  font-size: 4rem;
  margin: 0;
}

.title .subtext {
  font-size: 2.5rem;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu .input {
  width: 50%;
  height: 16rem;
  box-shadow: inset 0.5rem 0.5rem var(--shadow);
  border-radius: 1.5rem;
  border-color: var(--card);
}

.main-menu .input:focus {
  outline: 0.25rem inset var(--inputOutline);
}

.main-menu .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score .menu {
  display: flex;
}

.answer .input {
  background-color: var(--bg1);
  color: inherit;
  outline: 0;
  border-width: 0 0 0.1rem;
  border-color: var(--offwhite);
  padding: 1rem;
  width: 40%;
  font-weight: bolder;
  text-align: center
}

.switch {
  position: relative;
  display: inline-block;
  border-radius: 4rem;
  width: 8rem;
  height: 4rem;
  margin: 1rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--shadow);
  transition: .4s;
  border-radius: 4rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3.75rem;
  width: 3.75rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: var(--offwhite);
  transition: .4s;
  border-radius: 4rem;
}

.checkbox:checked + .slider {
  background-color: var(--toggleBlue);
}

.checkbox:checked + .slider:before {
  transform: translateX(4rem);
}

.options .sample :is(.maintext, .subtext, ::placeholder){
  field-sizing: content;
  width: 50rem;
  text-align: center;
  align-self: center;
  min-height: 1lh;
  margin: -1rem 0 0;
  color: inherit;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.options .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  display: flex;
  margin-bottom: 3rem;
}

.option .label{
  font-size: 3rem;
  margin: 1rem;
}

.options .fonts {
  background-color: var(--card);
  color: inherit;
  border: none;
  border-radius: 1rem;
  box-shadow: .25rem .25rem var(--shadow);
  font-weight: bold; 
  font-size: 2.5rem;
  padding: 0 2rem;
}

.hide {
  display: none;
}