:root {
  --bg1:  rgb(35, 37, 40);
  --card:  rgb(43, 49, 59);
  --shadow:  rgb(25, 27, 29);
  --input:  rgb(228, 239, 249);
  --inputOutline:  #60717f;
  --enter:  rgb(163, 255, 122);
  --enterTxt:  #57a01a;
  --toggleBlue:  #2196F3;
  --offwhite: #FAF9F6;
}

body {
  background-color: var(--bg1);
  color: var(--offwhite);
  padding: 2rem 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.input {
  background-color: var(--bg1);
  color: inherit;
  padding: 1rem;
  font-size: 3rem;
}

.input::placeholder {
  font-weight: lighter;
}

.btn {
  background-color: var(--card);
  border: none;
  border-radius: 2rem;
  box-shadow: .25rem .25rem var(--shadow);
  color: inherit;
  font-family: inherit;
  font-size: 2.3rem;
  font-weight:600;
  margin: 0.5rem;
  padding: 2rem;
  width: 18rem;
}

.btn:active {
  box-shadow: inset .25rem .25rem var(--shadow);
}

.card {
  border-radius: 2rem;
  background-color: var(--card);
  box-shadow: 0.5rem 0.5rem var(--shadow);
  height: fit-content;
  padding: 8rem 0rem;
  position: relative;
  margin-bottom: 5rem;
}

.counter {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-weight: lighter;
  font-size: 2.5rem;
}

.maintext {
  font-size: 9rem;
  margin: 0 0 1rem;
}

.prompt .maintext {
  margin: 0 0 -1rem;
}

.subtext {
  font-size: 4rem;
  margin: 0;
}

.title .subtext {
  font-size: 2.5rem;
}

.prompt :is(.maintext, .subtext) {
  font-family: "Noto Serif SC", serif;
}

.menu {
  display: flex;
  justify-content: center;
  align-items:start;
}

.menu .input {
  width: 50%;
  height: 16rem;
  box-shadow: inset 0.5rem 0.5rem var(--shadow);
  border-radius: 1.5rem;
  border-color: var(--card);
}

.menu .input:focus {
  outline: 0.25rem inset var(--inputOutline);
}

.menu .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer .input {
  background-color: var(--bg1);
  color: inherit;
  outline: 0;
  border-width: 0 0 0.1rem;
  border-color: var(--offwhite);
  padding: 1rem;
  width: 40%;
  font-weight: bolder;
  text-align: center
}

.hide {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  border-radius: 4rem;
  width: 8rem;
  height: 4rem;
  margin: 1rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--shadow);
  transition: .4s;
  border-radius: 4rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3.75rem;
  width: 3.75rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: var(--offwhite);
  transition: .4s;
  border-radius: 4rem;
}

.checkbox:checked + .slider {
  background-color: var(--toggleBlue);
}

.checkbox:checked + .slider:before {
  transform: translateX(4rem);
}

.toggleLabel{
  font-size: 3rem;
  margin: 1rem;
}